# xmake cache
.xmake
build

# personal editor settings
.vscode
.clangd
scripts/*.sh
scripts/*.txt
scripts/__pycache__
*.log
*.aux

# python venv
.env

# deprecated code
legacy

# other directories
data
img
doc/*.pdf
